.lb-card{
    background:white;
    overflow:hidden;
    height: 250px; //mobile
    max-height:250px; //mobile
    font-size:1rem;
    h1{
        font-size: 1.1em;
        line-height:1.1;
        font-weight:bold;
    }
    h2{
        font-size: 1em;
    }
    &--no-image{
        display:flex;
        align-items: center;
        font-size:1.2rem;
    }
    @media all and (min-width: 380px)
    {
        height: 300px;
        max-height:300px;
    }
    @media all and ( min-width : 500px ){
        height: 400px;
        max-height:400px;
    }
}

.lb-card__section{
    padding: 0.75em;
}
