.card-aspect-ratio{
    width:100%;
    padding-top: (13px / 8px) * 100%;
    position:relative;
    overflow:scroll;
}

.is-2-desktop, .is-2-tablet {
    font-size:1.1vw;
}
.is-one-quarter-desktop h1, .is-one-quarter-tablet h1, .is-one-quarter-desktop h2, .is-one-quarter-tablet h2{
    font-size: 1.5vw;
}

.is-half-mobile{
    font-size: 3vw;
}

.lb-card{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    background:white;
    justify-content:space-between;
    overflow:hidden;

    h1{
        line-height:1.1;
        font-weight:bold;
    }
}

.lb-card__section{
    padding: 0.75em;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex-grow: 1;
}