.pop{
    font-size:1.5em;
    text-transform: uppercase;
    font-weight: bolder;
    font-style: italic;
    padding: 0.5em 0;
    text-shadow: 2px 2px white;
    font-family: sans-serif;
    letter-spacing: -1px;
}